<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('background1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
<body>

<h2>Background Cover</h2>

<p>Set the background-size property to "cover" and the background image will cover the entire element, in this case the BODY element.</p>

</body>
</html>

<!--
<a href="{{ url_for('parameters') }}"> Click here to modify various parameters</a>

<a href="{{ url_for('trains_list') }}">Click here to see the list of running trains</a>
<a href = "{{ url_for('hotspots_list') }}">Click here for the list of hotspots</a>


  <a href="{{ url_for('login') }}">Login</a>
    <a href="https://www.youtube.com/">Contact us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
-->